<footer>
    <h4>100Devs Steam Team</h4>
    <ul id="contact-info">
        <li><a href="https://danaarroway.com/">Dana Arroway</a></li>
        <li><a href="https://www.agsoftwarez.com/">Arturo Guevara</a></li>
        <li><a href="https://7minutes.dev/">Alex Gulikers</a></li>
        <li><a href="https://webdevdan.com/">Daniel Hyres</a></li>
        <li><a href="https://gabriel-dev.netlify.app/">Gabriel Rodriguez</a></li>
        <li><a href="https://jamilsinno.ca/">Jamil Sinno</a></li>
    </ul>
</footer>
