
<main>
    <section class="auth-menu">
        <a href="/login" class="btn login">
            <span>Login</span>
            <i class="fa-solid fa-user"></i>
        </a>
        <a href="/signup" class="btn signup">
            <span>Signup</span>
            <i class="fa-solid fa-user-plus"></i>
        </a>
    </section>
</main>
